.env
.git
.phpunit.result.cache
bootstrap/cache/*.php
database/database.sqlite
node_modules
public/build
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
vendor
